
/* ============================= *
 *           组    件            *
 * ============================= */

/* 行控制按钮 */
.row-control {
    width:100%;
}

.row-control div {
    display: inline-block;
    width:25%;
}

/* 搜索 */

#search .col-xs-10 {
    padding-left: 0;
}

#search .col-xs-2 {
    padding: 0;
}

#search .col-xs-2 > button {
    width:100%;
}

#search button a {
    display: block;
    width: 100%;
    color: inherit;
}

.search-result {
    display: flex;
    margin-top:5px;
}

.search-result span {
    overflow: hidden;
    flex: 1 1 50%;
    padding: 0 5px
}

.search-result span:last-child {
    margin-left: 5px;
    border-left: 1px solid #999
}

.nores {
    margin: 10px auto;
    width: 70%;
    text-align: center;
    border: 1px solid palevioletred;
    color:palevioletred;
    font-size:1.4em;
    line-height: 2em;
    border-radius: 5px;
}

/* 介绍框 */
#describox {
    width:100%;
}

#maininfo #describox label {
    float: none;
    padding-left: 0.8em;
    text-align: left;
    width: auto;
}

/* 创建编辑按钮 */
.cae-btn {
    margin: 0 auto 10px 10px;
}

@supports (display: none) {
    .btn-processing > span {
        display: inline-block;
        width: 3ch;
        text-indent: -1ch;
        text-align: left;
        vertical-align: bottom;
        overflow: hidden;
        animation: dot 3s infinite step-start both;
        /* 关键: 设置等宽字体 */
        font-family: Consolas, Monaco, monospace;
    }
}

@keyframes dot {
    33% {
        text-indent: 0;
    }
    66% {
        text-indent: -2ch;
    }
}

/* 格式化框 */

.textformatbox {
    padding:10px;
}

.textformat-btn {
    border: 1px solid #ccc;
    border-bottom:0;
    background-color: #eee;
    padding: 5px;
    font-size:1.2em;
    border-radius: 3px 3px 0 0;
}

.textformat-btn > div {
    float: left;
    border-right:1px solid #aaa;
}

.textformat-btn button {
    width: 100%;
    background-color: transparent;
    padding:2px 5px;
}

.textformat-btn button:hover {
    opacity: 0.7;
}

.textformatbox textarea {
    margin-bottom:10px;
    border:1px solid #ccc;
    border-top:0;
    border-radius: 0 0 3px 3px;
    box-shadow:inset 0 1px 1px 0px rgba(0,0,0,0.2);
}

.textformatbox textarea:focus {
    border-color: #ccc;
    box-shadow:inset 0 1px 1px 0px rgba(0,0,0,0.2);
}

/* Staff, Cast, Onair 列表 */

.sco {
    width:740px;
    margin:0 auto 10px auto;
    border: 1px solid #ccc;
    border-radius: 2px;
    text-align: center;
}

.sco tr:first-child th:first-child {
    border-top-left-radius: 2px;
}

.sco tr:first-child th:last-child {
    border-top-right-radius: 2px;
}

.sco tr:last-child td:first-child {
    border-bottom-left-radius: 2px;
}

.sco tr:last-child td:last-child {
    border-bottom-right-radius: 2px;
}

.sco thead {
    background-color:#eee;
}

.sco thead th {
    border-bottom: 1px solid #ccc
}

.sco tbody {
    background: #fff;
}

.sco th {
    font-size:1.4em;
    text-align: center;
    height: 40px;
}

.sco th, .sco td {
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.sco th:last-child, .sco td:last-child {
    border-right: none;
}

.sco tbody:last-child tr:last-child th, .sco tbody:last-child tr:last-child td {
    border-bottom: none
}

.sco input {
    font-size:14px;
    border: 0;
    width: 100%;
    text-align: center;
    background-color: transparent;
}

.sco .zebrarow {
    background-color: #f7f7f7;
}

/* 表格按钮 */

.goto {
    position: absolute;
    left: 50%;
    margin-left: 370px;
    width:40px
}

.goto.top {
    top: 20%;
}

.goto.bottom {
    bottom:10%;
}

.goto.fixed {
    position: fixed;
    top: 50%;
}

.goto button {
    display: block;
    width: 100%;
}

.goto button:first-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom:none;
}

.goto button:last-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* 导航按钮 */

#navbtn {
    position: fixed;
    width: 40px;
    right: 50%;
    margin-right: 380px;
    bottom: 10px;
}

#navbtn button {
    border-radius: 0;
    border-top: none;
    width: 100%;
    height: 40px;
}

#navbtn a:first-child button{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

#navbtn a:last-child button {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

/* 选项框 */


/* ============================= *
 *           表格主体            *
 * ============================= */

.container {
    width: 760px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
}

/* ============================= *
 *           主要信息            *
 * ============================= */

#maininfo {
    padding: 10px 0;
    width: 760px;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin-bottom: 10px;
}

#maininfo .hr > td {
    border-top:1px solid #ccc;
}

#maininfo tr > td {
    padding:0 10px 10px 10px;
}

#maininfo label, #maininfo div {
    float: left;
}

#maininfo label {
    width         : 70px;
    color         : #333;
    font-size     : 1.2em;
    text-align    : center;
    line-height   : 30px;
}

#maininfo .input-id {
    width: 100px;
}

 .input-text {
    width: 200px;
}

/*<editor-fold desc="Toggle Button">*/
#maininfo .toggle-button {
    line-height: 30px;
    margin-right: 10px;
}

    #maininfo .toggle-button button {
        position: relative;
        bottom: 1px;
    }

    #maininfo .toggle-button span {
        font-size: 1.2rem;
    }

/*</editor-fold>*/

#maininfo select {
    height: 30px;
    width: 100%;
    border-color: #ccc;
}

#maininfo .v-select div {
    float: none;
}

#maininfo .btn-xs {
    font-size: 18px;
    padding: 2px 3px 2px 4px;
    line-height: 18px;
}

#maininfo .anime-title > td > div,
#maininfo .anime-link > td > div
{
    margin-right:5px;
}

#maininfo .row-control {
    position: relative;
    top:1px;
}

.is-official {
    line-height: 30px;
}

.is-official .btn-xs {
    font-size: 12px!important;
    padding: 1px 4px!important;
    margin: 0 0 2px 0;
    border-radius:2px;
    position: relative;
    bottom:1px;
    left:1px;
}

#maininfo .title-rowcontrol .btn-xs {
    line-height: 17px;
}

#maininfo .title-rowcontrol .btn-xs .glyphicon-arrow-up,
#maininfo .title-rowcontrol .btn-xs .glyphicon-arrow-down {
    /* 箭头会往右偏移 */
    right: 1px;
}

#maininfo .title-rowcontrol .btn-xs .glyphicon-plus {
    /* 加号会往下偏移 */
    top:0;
}

/* Ori Works */

/* 不同层级版块横徘 */

#maininfo .ori-lv0 {
    width: 10em;
}

#maininfo .ori-lv1 {
    margin-bottom: -2.5em; /* 后续版块右移, 整体高度下降一个选项框的高度 */
    width: 200%
}

#maininfo .ori-lv1, #maininfo .ori-lv3 {
    position: relative;
    left: 100%;
    margin-left: 10px;
    top: -2.5em;
}

/* 同一层级中标签与多选框横排 */

#maininfo .ori-lv1 > div,
#maininfo .ori-lv2 div {
    width: 100%;
}

#maininfo .ori-lv1 label {
    text-align: right;
    padding-right: 2em;
    width: 40%;
}

#maininfo .ori-lv1 > div {
    margin-bottom: 5px;
}

#maininfo .ori-lv1 > div > select {
    margin-left: 25%;
}

#maininfo .ori-lv2 {
    width: 60%
}

#maininfo div.ori-lv3 {
    margin-bottom: -2.5em; /* 后续版块右移, 整体高度下降一个选项框的高度 */
}

/* 多选框 */
#maininfo #ori-works .ori-multiple {
    width: 200%;
}

/* 首播季度 */
#oa-season {
    width: 240px;
}

#oa-year {
    width: 90px;
    margin-right: 10px;
    position: relative;
}

#oa-year > span {
    position: absolute;
    line-height:30px;
    right: 1em;
    top:0;
    user-select: none;
}

#oa-year > input {
    text-align: right;
    padding-right:2.5em;
}

#oa-month {
    width: 70px;
}

/* ============================= *
 *          Staff信息            *
 * ============================= */

.staff-child {
    box-shadow: inset 3px 0 1px rgba(0,0,0, 0.4) ;
    outline: azure;
}

.staff-child {
    border-top: 1px solid #bbb;
}

.staff-child > td {
    padding:5px;
}

.staff-child table {
    border: 1px solid #ccc;
    border-radius: 5px;
}

.staff-child table tr:first-child th:first-child {
    border-top-left-radius: 5px;
}

.staff-child table tr:first-child th:last-child {
    border-top-right-radius: 5px;
}

.staff-child table tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
}

.staff-child table tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
}

.staff-child table thead {
    background-color: #eee;
}

#staff .staff-child table th {
    border-bottom: 1px solid #ccc;
}

#staff .staff-child table td {
    border-bottom: 1px solid #ccc;
}

#staff .staff-child tr:last-child td {
    border-bottom: none;
}

#staff input {
    padding:5px 0;
}

.staff-info td:nth-child(1),
.staff-info td:nth-child(2),
.staff-info td:nth-child(3),
.staff-info td:nth-child(4)
{
    padding:0 5px;
}

.staff-info td:nth-child(2) input:first-child {
    border-bottom: 1px dotted #bbb;
}

/* ============================= *
 *          CAST 信息            *
 * ============================= */

#cast input {
    padding:10px 0;
}

/* ============================= *
 *          ONAIR信息            *
 * ============================= */

#onair input {
    padding: 2px;
}

#onair td:nth-child(3) input:first-child,
#onair td:nth-child(5) input:first-child
{
    padding-bottom: 0;
}

#onair td:nth-child(3) input:last-child,
#onair td:nth-child(5) input:last-child
{
    padding-top: 0;
}

#onair td:nth-child(6) {
    padding: 0 5px;
}

#onair td:nth-child(6) input:first-child {
    border-bottom: 1px dotted #bbb;
}

#onair select {
    width:90%;
    height:30px;
    padding:0 15px 0 3px;
    border: 1px solid #ccc;
    text-align: center;
    text-align-last: center;
}
