/*  */

body {
    font-size: 10.5px;
}

input, select {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

input {
    padding: 0 10px;
}

.input-group-addon {
    border-radius:0; /* 重置 bootstrap 中 input-group-addon 的圆角 */
}

select {
    -webkit-appearance: none;
    background-color: transparent;
    border-width:1px;
    border-style: solid;
    border-radius: 0;
    padding:0 10px;
    background-image: linear-gradient(45deg, transparent 50%, gray 50%),
                      linear-gradient(135deg, gray 50%, transparent 50%);
    background-position: calc(100% - 10px) calc(1em),
                         calc(100% - 5px) calc(1em);
    background-size: 5px 5px,
                     5px 5px;
    background-repeat: no-repeat;
}

/* Staff Input Padding */

.container {
    padding-left: 0;
    padding-right: 0;
}

.form .col-xs-1,
.form .col-xs-2,
.form .col-xs-3,
.form .col-xs-4,
.form .col-xs-5,
.form .col-xs-6,
.form .col-xs-7,
.form .col-xs-8,
.form .col-xs-9,
.form .col-xs-10 {
    padding: 2px 3px
}

#maininfo input {
    background-color: transparent;
    border: 1px solid #ccc;
    height:30px;
    outline: none;
    width: 100%;
}

#maininfo input:focus {
    border: 1px solid dodgerblue;
}

#maininfo label {
    color: #333;
    font-size: 1.2em;
}

#maininfo td > div, #maininfo td > label {
    float: left;
    padding: 0 5px;
}

#maininfo td label {
    display: inline-block;
    line-height: 32px;
    text-align: center;
    padding: 0;
    margin: 0;
}

#maininfo select {
    height: 30px;
    width: 100%;
    border-color: #ccc;
}

#maininfo .btn-xs {
    font-size: 18px;
    padding: 2px 3px 2px 4px;
    line-height: 18px;
}

#is-counted, #is-sequel, #is-end, .is-official {
    line-height: 30px;
}

#is-counted .btn-xs,
#is-sequel .btn-xs,
#is-end .btn-xs,
.is-official .btn-xs {
    font-size: 12px!important;
    padding: 1px 4px!important;
    margin: 0 0 2px 0;
    border-radius:2px;
}

#maininfo .title-rowcontrol .btn-xs {
    line-height: 17px;
    border-radius: 2px;
}

#maininfo .title-rowcontrol .btn-xs .glyphicon-arrow-up,
#maininfo .title-rowcontrol .btn-xs .glyphicon-arrow-down {
    /* 箭头会往右偏移 */
    right: 1px;
}

#maininfo .title-rowcontrol .btn-xs .glyphicon-plus {
    /* 加号会往下偏移 */
    top:0;
}


/* Ori Works */

/* 不同层级版块横徘 */

.ori-lv0 {
    width: 10em;
}

.ori-lv1 {
    margin-bottom: -2.5em; /* 后续版块右移, 整体高度下降一个选项框的高度 */
    width: 200%
}

.ori-lv1, .ori-lv3 {
    position: relative;
    left: 100%;
    margin-left: 10px;
    top: -2.5em;
}

/* 同一层级中标签与多选框横排 */
.ori-lv1 label, .ori-lv2 {
    float: left
}

.ori-lv1 label {
    text-align: right;
    width: 40%;
}

.ori-lv2 {
    width: 60%
}

.ori-lv3 {
    margin-bottom: -2.5em; /* 后续版块右移, 整体高度下降一个选项框的高度 */
}

/* 介绍输入框 */

#maininfo textarea {
    border-radius: 0;
}

#staff .row {
    margin: 0 0 0 -1px;
}

.sco, .sco input {
    width: 100%;
    outline: none;
}

.sco tr {
    padding: 0 5px
}

.sco td {
    padding: 10px 3px;
}

.sco .btn-xs {
    padding: 2px 3px;
    font-size: 15px;
    line-height: 15px;
}

.sco .btn-xs .glyphicon-star {
    margin-left: 1px;
    margin-right: -1px;
}

.snc-row-control {
    width: 100%;
}

.snc-row-control .col-xs-3 {
    padding: 0;
}

.sco input {
    text-align: center;
    border: none;
    border-bottom: 1px solid #333;
    background: transparent;
    padding-top: 10px;
    outline: none;
}

.sco select {
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    border-radius:0;
}

.form {
    border: 1px solid #ccc;
    overflow: hidden;
    border-radius: 5px;
}

/* zebra row */
.zebrarow {
    background-color: rgb(245, 245, 245);
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #ccc;
}

.staff-child {
    box-shadow: inset 3px 0 1px rgba(0,0,0, 0.4) ;
    outline: azure;
}

.staff-info div {
    float: left;
    padding:0 3px;
    display: table-cell;
    vertical-align: middle;
}

/* 创建 / 更新按钮 */

@supports (display: none) {
    .btn-processing > span {
        display: inline-block;
        width: 3ch;
        text-indent: -1ch;
        text-align: left;
        vertical-align: bottom;
        overflow: hidden;
        animation: dot 3s infinite step-start both;
        /* 关键: 设置等宽字体 */
        font-family: Consolas, Monaco, monospace;
    }
}

@keyframes dot {
    33% { text-indent: 0; }
    66% { text-indent: -2ch; }
}